In [4]:
x=5

In [5]:
if x>10:
    print(x, "est supérieur à 10")

In [8]:
a=-10

In [9]:
if a>0:
  b=0
  print(b)
else:
  b=1
  print(b)

1

In [12]:
e=-20

In [13]:
if e>0:
    print("e est positif")
elif e==0:
    print("e est nul")
else:
    print("e est négatif")

e est négatif

In [14]:
for i in range(4):
    print(i)

0
1
2
3

In [15]:
Liste = ["un", "deux","trois"]

In [16]:
for i in Liste:
    print(i)

un
deux
trois

In [17]:
Dict = {"un":1, "deux":2, "trois":3 }

In [19]:
for key, value in Dict.items():
    print("clé:",key, "valeur:",value)

clé: un valeur: 1
clé: deux valeur: 2
clé: trois valeur: 3

In [22]:
for item in Liste:
    if item =="deux":
        break
    print(item)

un

In [23]:
for item in Liste: 
  if item =="deux":
    continue
  print(item)

un
trois

In [24]:
x=1

In [25]:
while x<4:
  print("x a pour valeur ",x)
  x*=2
  print(x)

x a pour valeur  1
2
x a pour valeur  2
4

In [26]:
def donne_age():
  return 32

In [27]:
donne_age()

32

In [ ]:
def age_plus2(a):
  a+=2
  return a

In [29]:
age_plus2(22)

24

In [30]:
def DireBonjour():
  print("Bonjour")

In [31]:
def DivisePar2(a):
  return a/2

In [32]:
DireBonjour()

Bonjour

In [33]:
DivisePar2(10)

5.0

In [34]:
def some(*args):
  x=0
  for i in args:
    x+=i
    print(x)

In [35]:
some(1,2,3)

1
3
6

In [36]:
liste =[1,2,3,4,5]

In [37]:
list(filter(lambda x:x>2,liste))

[3, 4, 5]

In [ ]:

def calcul_rem(temps,Sbase=50):
  if temps <= 40:
    Rem = temps * Sbase
  else:
    Rem = 40 *Sbase +(temps-40)*Sbase*1.5
  return Rem

In [50]:
calcul_rem(50)

2750.0

In [52]:
def Salaire(heures_travaillees,tarif_horaire):
  if heures_travaillees>40:
    return tarif_horaire*40+(heures_travaillees-40)*1.5
  else:
    return heures_travaillees*tarif_horaire

In [53]:
heures_travaillees=50
tarif_horaire=100

In [54]:
paie=Salaire(heures_travaillees,tarif_horaire)
paie

4015.0

In [57]:
print(f"Total à payer : {paie:.2f}","€")

Total à payer : 4015.00 €